.about{
    align-items: center;
    justify-content: center;
}

.about h1{
    color: #db0000;
    font-weight: bold;
    font-size: 36px;
}

.project-lead{
   margin: 30px auto;
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.profile-picture{
    flex-basis: 30%;
}

.propic{
    width: 100%;
    border-radius: 10px;
}

.profile{
    flex-basis: 60%;
}